.each-round {
    padding: 20px 0;
}

.content {
    display: flex;
    width: 100%;
    color: #1D1B19;
}

.info {
    max-width: 600px;
    line-height: 160%;
}

.fas {
    margin-right: 10px;
}

.links {
    width: 300px;
    margin-left: 200px;
    padding-top: 10px;
}

.each-link {
    margin-bottom: 20px;
}